body{
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdf8f3;
    line-height: 1.6;
    overflow-x: hidden;  
}

    /* Testimonials */
    .testimonials {
        background-color: #e6f7ff;
        padding: 60px 20px;
    }
    .testimonials h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .testimonial-item {
        font-style: italic;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .testimonial-item span {
        font-weight: bold;
    }

    h2{
        color: black;
        background-color: FFFDD0;
        margin: auto;
        padding: 10px;
        text-decoration: underline;
    }

    p1{
        margin: 10px;
        padding: 10px;
    }