* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdf8f3;
    line-height: 1.6;
    overflow-x: hidden; /* Prevents horizontal scroll on small screens */
}

/* Header Styles */
header {
    background-color: #8b4513;
    color: #fdf8f3;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-menu a {
    color: #fdf8f3;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ffdda1;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h2 {
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}
button:hover {
    background-color: #45a049;
}
.form-group {
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: #8b4513;
    color: #fdf8f3;
    padding: 1%;
    text-align: center;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #fdf8f3;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ffdda1;
}

.footer-contact a {
    color: #fdf8f3;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0;
}

.footer-contact a:hover {
    color: #ffdda1;
}

/* Media Queries for Responsiveness */

/* Tablets and smaller devices */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
    }


    .hero-text {
        font-size: 1.4em;
        padding: 0 10px;
    }

    .event-card {
        width: 45%; /* Two cards per row */
    }
}

/* Mobile devices */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        align-items: center;
        gap: 10px;
    }

    .hero-text {
        font-size: 1.2em;
    }

    .event-card {
        width: 100%; /* Full width on small screens */
    }

    h{
        font-size: 5px;
    }

    .footer-links a {
        display: block;
        margin: 5px 0;
    }

    .footer-contact {
        font-size: 0.85em;
    }
}
